<h2 mat-dialog-title>Información de la cuenta</h2>
<div mat-dialog-content>
    <h2>Nombre: {{ data.nombre }}</h2>
    <h2>Cuenta: {{ data.cuenta }}</h2>
    <h2>Saldo: {{ data.saldo }}</h2>
</div>
<div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</div>