<mat-toolbar color="primary">
  <a mat-button href="/usuarios">Usuarios</a>
  <a mat-button href="/cuentas">Cuentas</a>
  <a mat-button href="/transacciones">Transacciones</a>
  <span class="example-spacer"></span>
  <button mat-button (click)="openDialog()">Operaciones</button>
</mat-toolbar>
<!-- The routed views render in the <router-outlet>-->
<div class="espacio">
  <router-outlet></router-outlet>
</div>