<h2 mat-dialog-title>Acción</h2>
<mat-dialog-content>
  <mat-form-field class="example-full-width">
    <mat-label>Seleccione una acción</mat-label>
    <mat-select [(value)]="selectedAction">
      <mat-option value="trasnfer">Transferencia</mat-option>
      <mat-option value="consigned">Consignar</mat-option>
      <mat-option value="withdraw">Retirar</mat-option>
      <mat-option value="checkBalance">Consultar saldo</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="selectedAction === 'trasnfer'">
    <!-- Formulario para consignar -->
    <mat-form-field class="example-full-width">
      <mat-label>Cuenta origen</mat-label>
      <input matInput placeholder="Cuenta origen" [(ngModel)]="account" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Cuenta destino</mat-label>
      <input matInput placeholder="Cuenta destino" [(ngModel)]="destinationAccount" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Monto a transferir</mat-label>
      <input matInput placeholder="Monto a transferir" [(ngModel)]="amount" />
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedAction === 'consigned'">
    <!-- Formulario para consignar -->
    <mat-form-field class="example-full-width">
      <mat-label>Cuenta</mat-label>
      <input matInput placeholder="Cuenta" [(ngModel)]="account" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Monto a Consignar</mat-label>
      <input matInput placeholder="Monto a Consignar" [(ngModel)]="amount" />
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedAction === 'withdraw'">
    <!-- Formulario para retirar -->
    <mat-form-field class="example-full-width">
      <mat-label>Cuenta</mat-label>
      <input matInput placeholder="Cuenta" [(ngModel)]="account" />
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Monto a retirar</mat-label>
      <input matInput placeholder="Monto a retirar" [(ngModel)]="amount" />
    </mat-form-field>
  </ng-container>

  <ng-container *ngIf="selectedAction === 'checkBalance'">
    <!-- Formulario para consultar saldo -->
    <mat-form-field class="example-full-width">
      <mat-label>Cuenta</mat-label>
      <input matInput placeholder="Cuenta" [(ngModel)]="account" />
    </mat-form-field>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-button [mat-dialog-close]="getFormValues()">Aceptar</button>
</mat-dialog-actions>