<h2>Cuentas</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="cedula_usuario">
      <th mat-header-cell *matHeaderCellDef> Cedula Usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.cedula_usuario}} </td>
    </ng-container>

    <ng-container matColumnDef="numero_cuenta">
      <th mat-header-cell *matHeaderCellDef> Numero Cuenta </th>
      <td mat-cell *matCellDef="let element"> {{element.numero_cuenta}} </td>
    </ng-container>

    <ng-container matColumnDef="saldo_cuenta">
      <th mat-header-cell *matHeaderCellDef> Saldo </th>
      <td mat-cell *matCellDef="let element"> {{element.saldo_cuenta}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<div class="espacio" align="center">
  <button mat-raised-button color="primary" (click)="openDialogCuenta()">Agregar Cuenta</button>
</div>