<h2>Transacciones</h2>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="Tipo_transaccion">
      <th mat-header-cell *matHeaderCellDef> Tipo transaccion </th>
      <td mat-cell *matCellDef="let element"> {{element.tipo_transaccion}} </td>
    </ng-container>

    <ng-container matColumnDef="Cuenta_origen_id">
      <th mat-header-cell *matHeaderCellDef> Cuenta origen </th>
      <td mat-cell *matCellDef="let element"> {{element.cuenta_origen}} </td>
    </ng-container>

    <ng-container matColumnDef="Cuenta_destino_id">
      <th mat-header-cell *matHeaderCellDef> Cuenta destino </th>
      <td mat-cell *matCellDef="let element"> {{element.cuenta_destino}} </td>
    </ng-container>

    <ng-container matColumnDef="Monto">
      <th mat-header-cell *matHeaderCellDef> Monto </th>
      <td mat-cell *matCellDef="let element"> {{element.monto}} </td>
    </ng-container>

    <ng-container matColumnDef="Fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>