<h2 mat-dialog-title>Formulario Usuario</h2>
<mat-dialog-content>
 <mat-form-field class="example-full-width">
   <mat-label>Cédula</mat-label>
   <input matInput placeholder="Cédula" [(ngModel)]="cedula" autocomplete="off"/>
 </mat-form-field>

 <mat-form-field class="example-full-width">
   <mat-label>Nombre</mat-label>
   <input matInput placeholder="Nombre" [(ngModel)]="nombre" autocomplete="off"/>
 </mat-form-field>

 <mat-form-field class="example-full-width">
   <mat-label>Clave</mat-label>
   <input matInput placeholder="Clave" type="password" [(ngModel)]="clave" autocomplete="off"/>
 </mat-form-field>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="enviarFormulario()">Enviar</button>
    <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>