<h2 mat-dialog-title>Formulario Cuenta</h2>
<mat-dialog-content>
 <mat-form-field class="example-full-width" autocomplete="off">
   <mat-label>Cedula Usuario</mat-label>
   <input matInput placeholder="Cedula Usuario" [(ngModel)]="cedula_usuario" autocomplete="off"/>
 </mat-form-field>

 <mat-form-field class="example-full-width" autocomplete="off">
   <mat-label>Numero Cuenta</mat-label>
   <input matInput placeholder="Numero Cuenta" [(ngModel)]="numero_cuenta" autocomplete="off" />
 </mat-form-field>

 <mat-form-field class="example-full-width" autocomplete="off">
   <mat-label>Saldo</mat-label>
   <input matInput placeholder="Saldo" [(ngModel)]="saldo_cuenta" autocomplete="off" />
 </mat-form-field>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="enviarFormulario()">Enviar</button>
    <button mat-button (click)="cancel()">Cancelar</button>
</mat-dialog-actions>